<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>新增</title>
</head>
<body>
<form action="/school/add" method="post">
  年份：<input type="number" name="year" value="<%= year %>"><br>
  学期：<input type="number" name="term" value="<%= term %>"><br>
  <input type="submit" value="新增">
</form>
</html>